
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */